* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header{
    position: fixed;
  } */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
}

.logo a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(111, 75, 2);
  font-size: 1.2rem;
}

.i {
  color: rgb(27, 20, 20);
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
}

.nav-links>li:hover {
  background-color: rgba(210, 207, 207, 0.56);
  cursor: pointer;
  font-weight: bolder;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #464345;
  margin: 5px;
}

div.logo {
  margin-top: 12px;
}

span.i {
  font-size: xx-large;
}



/* BOXES */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(imgs/pic1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bolder;
  text-align: center;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(200, 136, 52);
}

.box:hover {
  background-color: rgb(255, 173, 65);
  border: 2px dashed wheat;

}


p {
  text-align: center;
  margin-top: 20px;
}

/* box2 */
div.sec-last {
  background: #f1f1f1;
}

.container1 {
  background-image: none;

  justify-content: normal;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(255 255 255 / 56%);
  border-bottom: 8px solid black;
  border-right: 8px solid black;
  flex-direction: column !important;
  height: 260px;
  width: 300px;
  margin: 44px 44px 44px 44px;
}

.box2:hover {
  border-top: 8px solid #acacac;
  border-left: 8px solid #acacac;
  border-right: none;
  border-bottom: none;
  background-color: rgba(210, 207, 207, 0.56);
}

.h1 {
  padding: 32px;
  text-align: center;
  display: block;
}

p.ques {
  font-size: larger;
  font-weight: 500;
  font-style: oblique;
}

img.ques {
  height: 69px;
}

/* FOOTER  */
.contain {
  background-color: #cfcccc;
  padding-bottom: 2px !important;
}

.icons {
  height: 22px;
  width: auto;
  margin: 6px 16px;
  border: 100%;
  align-content: center;
}

.icon {
  height: 22px;
  width: auto;
  margin-left: 2px;
  border-radius: 100%;

}

.footer-location {
  display: inline-block;
  font-size: larger;
  font-style: oblique;
  margin-top: 12px;
  margin-bottom: 20px;
}

.footer-social {
  float: right;
  font-size: larger;
  font-style: oblique;
  margin-top: 12px;
  margin-bottom: 20px;
}

.footer-copywrite {
  margin-bottom: 10px;
  font-size: larger;
  font-style: oblique;
}

@media (max-width:682px) {
  .footer-social {
    float: inherit !important;
    text-align: center;
    font-size: larger;
    font-style: oblique;
  }

  .footer-location {
    font-size: larger;
    text-align: center;
    font-style: oblique;
    margin-left: 14%;

  }

}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: block;
  }

  div.logo {
    margin: 0px;
    padding: 0px;
  }

  .box {
    width: 99px;
    height: 99px;
    margin: 29px 15px;
    font-size: large;
  }

  img {
    max-width: 100%;
    height: 40px;
  }

  .container {
    width: 100%;
    height: auto;
  }

}

@media (max-width:778px) {
  .box2 {
    height: 150px !important;
    width: 200px !important;
    margin: 20px 10px 20px 10px;
  }

  p.ques {
    font-size: large;
    font-weight: 500;
    font-style: oblique;
  }

  img.ques {
    height: 36px;
  }
}

@media (min-width: 1200px) {
  .nav-links a {
    margin: 0% 40px;
  }

  .box {
    width: 200px;
    height: 200px;
    margin: 80px 30px;
    font-size: larger;
  }

  img {
    max-width: 100%;
    height: 52px;
  }
}

@media (min-width:768px) {
  .box {
    width: 140px;
    height: 120px;
    margin: 45px 20px;
    font-size: medium;
  }

  img {
    max-width: 100%;
    height: 52px;
  }
}

@media (max-width: 1199px) and (min-width:910px) {
  .nav-links a {
    margin: 0% 20px;
  }

  .box {
    width: 140px;
    height: 120px;
    margin: 45px 20px;
    font-size: large;
  }

  img {
    max-width: 100%;
    height: 52px;
  }
}

/* Small devices */
@media (max-width:400px) {
  .box {
    width: 75px;
    height: 75px;
    margin: 45px 20px;
    font-size: x-small;
  }

  img {
    max-width: 100%;
    height: 36px;
  }
}